.sidebar{
   
   position: fixed;
   left: 0;
   top: 55px;
   bottom: 0;
   background-color: rgb(255, 255, 255);
   width: 72px;
   z-index: 20;
   padding-top: 5px;
   
}

.sidebar-link{
   
   height: 74px; 
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   
}

.sidebar-link:hover{
   background-color:rgb(232, 230, 230);
}

.sidebar-link img{
   height:24px; 
   margin-bottom: 4px 
}

.sidebar-link div{
   font-family: 'Roboto', arial;
   font-size: 10px;
}
